.statistics {
    width: 380px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
}

.statlist {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    border-top: 1px solid black
}

.item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    padding:15px;
    width: auto;
    border-left: 1px solid black;
    font-size: 14px;
    color: white;
}

.item:first-child {
    border-left: none;
}

.title {
    color: grey;
}

.label {
    margin-bottom: 10px;
}

.persentage {
    font-weight: 700;
}