.transaction {
    width: 600px;
    border: 1px solid gray;
    text-align: center;
    margin-left: 480px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-spacing: 0;
}

td {
    border-right: 1px solid gray;
    height: 40px;
    width: 200px;
    padding: 0;
    color:gray
}

td:last-child {
    border-right: none;
}

tbody:nth-child(2n) {
    background-color: lavender;
}

th {
    border-right: 1px solid gray;
    background-color: khaki;
    color: white;
    height: 40px;
    padding: 0;
}

th:last-child {
    border-right: none;
}